body {
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
  height: 90%;
}

.topnav {
  background-color: black;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}

.biblioteka {
  background-color: #2a2a2a;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 50px; /* to place it under the topnav */
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.glowne {
  background-color: #2a2a2a;
  margin-left: 58px;
  margin-right: 50px;
  margin-top: 50px;
  height: 100%;
  width: 1200px;
  position: fixed;
  border-radius: 10px;
}

.kolejka {
  background-color: #2a2a2a;
  position: fixed;
  top: 50px;
  margin-left: 8px;
  right: 0;
  height: calc(100vh - 50px); /* full height minus the topnav */
  width: 270px;
  border-radius: 10px;
}
